# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Data and temporary outputs
data/chroma/
notebooks/chroma/results/
scratch/

data/**/*.mat
data/**/*.zip
data/Amino_Acid_fluo.zip

# IDEs
.idea/
.vscode/
*.swp
*.swo
